.credential-modal {
  width: 30%;
  background-color: #12130f;
  padding: 25px 40px;
  overflow: auto;
  float: right;
  height: 100vh;
}

.credential-modal__btn {
  background-color: #40434e;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.credential-modal__btn:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.credential-modal__btn:last-of-type {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.credential-modal__btn.active {
  background-color: #6b5b95;
  color: white;
}

.credential-modal__form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.credential-modal__container {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}
