.submit-btn-holder {
  margin-bottom: 40px;
}

.submit-btn-holder__btn{
  background-color: #6b5b95;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

.submit-btn-holder__btn:hover {
  cursor: pointer;
}